

$primary-light   : #6DED90
$primary-dark : #3de76c
$primary : $primary-dark
$secondary : #F4F4F5
$bg-primary-10: rgba(109, 237, 144, 0.1)
$bg-light-grey: rgba(244, 244, 245, 0.50)
$text-text-foreground: #09090B


$text-muted: #71717A
$text-color:  #09090B

$screen-xl: 1800px
$screen-lg: 1440px
$screen-md: 1024px
$screen-sm: 768px
$screen-xs: 480px
// $accent    : #9C27B0

// $dark      : #1D1D1D

// // $positive  : #21BA45
// // $negative  : #C10015
// // $info      : #31CCEC
// // $warning   : #F2C037


$light-primary: darkgreen
$dark-primary: lightgreen

:root
  --primary: #{$primary-dark}
  --q-primary: #{$primary-dark}


@media (prefers-color-scheme: dark)
  :root
    --primary: #{$primary-light}
    --q-primary: #{$primary-light}


